.hero-section {
    position: relative;
    height: 60vh;
    color: white;
    overflow: hidden;
}

/* This adds a dark overlay ontop of the hero asset picture */
.hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("./assets/hero.jpg");
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    z-index: -1;
}
/* This gives the navbar a background color*/
.container-fluid{
    background-color: #6f4e37;
    font-size: larger;
    font-weight: bold;
}

@media (min-width: 992px) {
  .rounded-lg-3 { border-radius: .3rem; }
}

/* Styling for the text in the find us section */
.find-us-content{
    font-size: larger;
    font-weight: bold;
}

.find-us-section{
    background-color: #e3bc9a;
    border-style: groove;
    border-color: #e3bc9a;
}

/*Styling for Contact Us section*/
.contact{
    font-size: larger;
    font-weight: bold;
}
footer {
    text-align: center;
    color: #878787;
}
footer a {
    text-decoration: none;
    color: #404040;
}